* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.features {
    background-color:rgba(52, 73, 94, 1);
    margin-left: 40px;
    margin-right: 260px;
    color: white;
    
}
h1.features {
    margin-top: 50px;
    font-size: 60px;
}
h2.features{
    padding-top: 3px;
    font-size: 32px;
    display: inline-block;
    position: relative;
    color: white;
    background-color:transparent; 
}
h2.features:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #A7C7E7;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.boxes:hover h2.features:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

p.features {
    padding: 20px 0px 5px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color:transparent;
}
ul.features{
    padding-left: 50px;
    list-style-position: inside;
    background-color:transparent;
}
ul.features li{
    padding-top: 7px;
    background-color:transparent;
}
#featuresReqDatabase{
    border-style: solid;
    position: relative;
    border-radius: 25px;
    left: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 1300px;
    top: 20px;
    bottom: 20px;
    transition-duration: 1s;
    transition: 1s;
}

#featuresUniRec{
    border-style: solid;
    position: relative;
    border-radius: 25px;
    left: 500px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 1300px;
    top: 40px;
    bottom: 20px;
    transition-duration: 1s;
    transition: 1s;
}

#featuresCompRank{
    border-style: solid;
    position: relative;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 1300px;
    top: 60px;
    bottom: 20px;
    transition-duration: 1s;
    transition: 1s;
}

.boxes:hover{
    border-width: 20px;
    border-color: #A7C7E7;   
    background-color: lightcoral;
}
.boxes:hover h2{
    text-shadow: 2px 2px black;   
}
img:hover{
    height: 450;
    width: 450;       
}
#featuresList2Icons{
    list-style-type: none;
    position: absolute;
    bottom: 18px;
    left: -5px;
    text-align: center;
}
#featuresList2Icons li{
    padding-top: 7px;
}
#featuresList1Icons{
    list-style-type: none;
    position: absolute;
    bottom: 18px;
    left: -5px;
    text-align: center;
}
#featuresList1Icons li{
    padding-top: 7px;
}
#books{
    position:absolute;
    height:280px;
    width:280px;
    top: 180px;
    right: 130px;
    transition-duration: 1s;
}