
.features {
    background-color: rgba(52, 73, 94, 1);
    position: center;
    color: white;
    padding-top: 50px;
}
h1.features {
    font-size: 62px;
}
h2.features{
    padding-top: 3px;
    font-size: 32px;
    display: inline-block;
    position: relative;
    color: white;
    background-color:transparent; 
}
h2.features:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #A7C7E7;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.boxes:hover h2.features:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

p.features {
    padding: 20px 0px 5px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color:transparent;
}
ul.features{
    padding-left: 50px;
    list-style-position: inside;
    background-color:transparent;
}
ul.features li{
    padding-top: 7px;
    background-color:transparent;
    font-size: 20px;
}
#featuresReqDatabase{
    border-style: solid;
    position: relative;
    border-radius: 25px;
    left: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 1300px;
    top: 20px;
    bottom: 20px;
    transition-duration: 1s;
    transition: 1s;
}

#featuresUniRec{
    border-style: solid;
    position: relative;
    border-radius: 25px;
    left: 450px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 1300px;
    top: 40px;
    bottom: 20px;
    transition-duration: 1s;
    transition: 1s;
}

#featuresCompRank {
    border-style: solid;
    position: relative;
    border-radius: 25px;
    left: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 1300px;
    top: 60px;
    bottom: 20px;
    transition-duration: 1s;
    transition: 1s;
}
.boxes {
    background-color: #405972;
}
.boxes:hover{
    border-width: 15px;
    border-color: #A7C7E7;   
    background-color: #517293;
}
.boxes:hover h2{
    text-shadow: 2px 2px black;   
}

#featuresList2Icons{
    list-style-type: none;
    position: absolute;
    bottom: 18px;
    left: -5px;
    text-align: center;
}
#featuresList2Icons li{
    padding-top: 7px;
}
#featuresList1Icons{
    list-style-type: none;
    position: absolute;
    bottom: 18px;
    left: -5px;
    text-align: center;
}
#featuresList1Icons li{
    padding-top: 7px;
}
img:hover{
    height: 450;
    width: 450;       
}
#database {
    position: absolute;
    width: 325px;
    top: 50px;
    right: -380px;
}
#algorithm{
    position:absolute;
    width: 325px;
    top: 25px;
    left: -400px;
    transition-duration: 1s;
}
#recommendation {
    position: absolute;
    width: 320px;
    bottom: -20px;
    right: -380px;
}
