@font-face {
    font-family: "myFont";
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
}

.headerProd {
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
}

.headerProd .title {
    color: white;
    font-size: 62px;
    text-align: center;
    /*margin-right: 50%;*/
}

.text {
    float: left;
}

.column {
    float: left;
    padding: 10px;
}

.left, .right {
    width: 50%;
}

#product {
    padding-left: 90px;
    margin-top: 50px;
    text-align: center;
    padding-right: 90px;
    color: white;
}

#product p {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 20px;
}

.border {
    border-right: #1c1c1c solid 1px;
}

.key-features hr {
    height: 50px;
    margin: auto -20px;
    border: none;
    border-left: 1px solid lightgray;
}

.key-features img {
    padding-bottom: 10px;
}

.white {
    filter: brightness(0) invert(1);
}

.key-features {
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    padding-top: 60px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;
}

.button {
    height: 50px;
    background-color: #1c1c1c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.arrow::after {
    content: '\2192';
}
