* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.features {
    background-image: linear-gradient(rgba(52, 73, 94, 1),rgba(52, 73, 94, 1));
    margin-left: 40px;
    margin-right: 260px;
    color: white;
    
}
h1.features {
    margin-top: 50px;
    background-color:white;
    font-size: 60px;
}
h2.features{
    padding-top: 3px;
    font-size: 32px 
}
p.features {
    padding: 20px 0px 5px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px
    ;
}
ul.features{
    padding-left: 50px;
    list-style-position: inside;
}
ul.features li{
    padding-top: 7px;
}
#assignment_turned_in{
    position:fixed;
    left:485px;
    top: 296px;
}
#announcement{
    position:fixed;
    left:310px;
    top: 332px;
}
#description{
    position:fixed;
    left:470px;
    top: 365px;
}
#label_important{
    position:fixed;
    left:413px;
    top: 402px;
}
#featuresReqDatabase{
    border-style: solid;
    position: relative;
    border-radius: 25px;
    left: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 1300px;
    top: 20px;
    bottom: 20px;
    transition-duration: 1s;
    transition: 1s;
}

#featuresUniRec{
    border-style: solid;
    position: relative;
    border-radius: 25px;
    left: 500px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 1300px;
    top: 40px;
    bottom: 20px;
    transition-duration: 1s;
    transition: 1s;
}

#featuresCompRank{
    border-style: solid;
    position: relative;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 1300px;
    top: 60px;
    bottom: 20px;
    transition-duration: 1s;
    transition: 1s;
}

.boxes:hover{
    border-width: 10px;
}



